- load i18n

.tabbable

  %ul.nav.nav-tabs
    - for tab in tabs
      %li{'id':'upaas-app-{{ app.safe_id }}-tab-{{ tab.tab_id }}', 'class':'{% if tab.tab_id == current_tab_id %}active{% endif %}'}
        %a{'href':'{% url tab.tab_id app.safe_id %}'}
          = tab.tab_label
          - if tab.tab_id == 'app_packages'
            %span.badge{'class': 'upaas-app-{{ app.safe_id }}-badge-packages{% if not app.packages %} hidden{% endif %}'}
              = app.packages|length
          - if tab.tab_id == 'app_instances'
            %span.badge{'class': 'upaas-app-{{ app.safe_id }}-badge-instances{% if not app.run_plan %} hidden{% endif %}'}
              = app.run_plan.backends|length
          - if tab.tab_id == 'app_tasks'
            %span.badge{'class': 'upaas-app-{{ app.safe_id }}-badge-tasks{% if not app.active_tasks %} hidden{% endif %}'}
              = app.active_tasks|length
          - if tab.tab_id == 'app_domains'
            %span.badge{'class': 'upaas-app-{{ app.safe_id }}-badge-custom_domains{% if not app.custom_domains %} hidden{% endif %}'}
              = app.custom_domains|length

  .tab-content
