- extends 'site.html'


- load i18n
- load upaas_mb_to_bytes


- block content

  - if tabs
    - include "users/partials/users_index_tabs.html"

  .col-lg-3
    .panel.panel-default
      .panel-body
        %h1.text-center
          = user.running_applications.count
          \/
          - if user.limits.running_apps
            = user.limits.running_apps
          - else
            &infin;
      .panel-footer.text-center
        - trans "Running application limit"
        %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum number of running applications" %}'}

  .col-lg-3
    .panel.panel-default
      .panel-body
        %h1.text-center
          ={ user.limits_usage.workers }
          \/
          - if user.limits.workers
            = user.limits.workers
          - else
            &infin;
      .panel-footer.text-center
        - trans "Worker limit"
        %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum number of workers for all running applications" %}'}

  .col-lg-3
    .panel.panel-default
      .panel-body
        %h1.text-center
          = user.limits.memory_per_worker|mb_to_bytes|filesizeformat
      .panel-footer.text-center
        - trans "Memory limit"
        %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum memory usage per worker" %}'}

  .col-lg-3
    .panel.panel-default
      .panel-body
        %h1.text-center
          = user.limits.packages_per_app
      .panel-footer.text-center
        - trans "Package limit"
        %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum number of package files stored in database for each application" %}'}

  .col-lg-3
    .panel.panel-default
      .panel-body
        %h1.text-center
          = user.limits.max_log_size|mb_to_bytes|filesizeformat
      .panel-footer.text-center
        - trans "Application log size limit"
        %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum size of application log file on each backend" %}'}
