- extends 'base.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load gravatar


- block breadcrumbs
  = block.super
  - breadcrumb user.full_name_or_login "users_profile"


- block content

  .tabbable

    %ul.nav.nav-tabs
      %li.active
        %a{'href':'#details', 'data-toggle':'tab'}
          - trans "Details"
      %li
        %a{'href':'#apikey', 'data-toggle':'tab'}
          - trans "API key"
      %li
        %a{'href':'#budget', 'data-toggle':'tab'}
          - trans "Budget"

    .tab-content

      #details.tab-pane.active
        .row
          .col-md-2.text-center
            %img.img-rounded{'src':'{% gravatar_url user.email 120 %}', 'height':'120', 'width':'120'}
              %a{'href':'https://gravatar.com', 'target':'_blank'}
                - trans "Change avatar"
          .col-md-10
            %dl.dl-horizontal
              %dt
                {% trans "First name" %}:
              %dd
                = user.first_name

              %dt
                {% trans "Last name" %}:
              %dd
                = user.last_name

              %dt
                {% trans "Login" %}:
              %dd
                = user.username

              %dt
                {% trans "Email" %}
              %dd
                = user.email

              %dt
                {% trans "Administrator" %}:
              %dd
                - if user.is_superuser
                  %i.fa.fa-thumbs-o-up
                - else
                  %i.fa.fa-thumbs-o-down

      #apikey.tab-pane
        .form-horizontal{'role':'form'}
          .form-group
            %label.col-md-2.control-label{'for':'apikey-input'}
              - trans "Api key"
              %i#help-apikey.fa.fa-question-circle{'title':'{% trans "API key is used for accessing uPaaS using cli client" %}'}
              :
            .col-md-8
              %input.form-control{'id':'apikey-input','type':'text', 'readonly':'readonly', 'value': '={ user.apikey }'}
            %button.btn.btn-default{'id':'copy-button', 'data-clipboard-text':'={ user.apikey }'}
              %i.fa.fa-files-o

        .text-center
          %a.btn.btn-danger{'href':'{% url "users_apikey_reset" %}'}
            - trans "Reset API key"

      #budget.tab-pane
        %dl.dl-horizontal
          %dt
            {% trans "Application limit" %}
            %i#help-apps_count.fa.fa-question-circle{'title':'{% trans "Maximum number of running applications" %}'}
            :
          %dd
            = user.running_applications|length
            \/
            - if user.budget.apps_count
              = user.budget.apps_count
            - else
              - trans "no limit"

          %dt
            {% trans "Worker limit" %}
            %i#help-worker_limit.fa.fa-question-circle{'title':'{% trans "Maximum number of workers for all running applications" %}'}
            :
          %dd
            ={ user.limits_usage.worker_limit } / ={ user.budget.worker_limit }

          %dt
            {% trans "Memory limit" %}
            %i#help-memory_limit.fa.fa-question-circle{'title':'{% trans "Maximum amount of memory that can be allocated to all running applications" %}'}
            :
          %dd
            ={ user.limits_usage.memory_limit } MB / ={ user.budget.memory_limit } MB

          %dt
            {% trans "Package limit" %}
            %i#help-package_limit.fa.fa-question-circle{'title':'{% trans "Maximum number of package files stored in database for each application" %}'}
            :
          %dd
            ={ user.budget.package_limit }

  - block js_bottom
    = block.super

    - include "partials/load_zeroclipboard.html"

    :javascript
      $(document).ready(function(){
        var clip = new ZeroClipboard($('button#copy-button'));
        var cliptip = $(clip.htmlBridge)
          .tooltip({'title': '{% trans "Copy to clipboard" %}'});
        clip.on('mouseover', function(client) {
          cliptip.attr('title', '{% trans "Copy to clipboard" %}')
            .tooltip('fixTitle')
            .tooltip('show');
        });
        clip.on('complete', function(client, args) {
          cliptip.attr('title', '{% trans "Copied" %}')
            .tooltip('fixTitle')
            .tooltip('show');
        });
        $('#help-apikey').tooltip({container:'.upaas-content'});
        $('#help-apps_count').tooltip({container: '.upaas-content'});
        $('#help-memory_limit').tooltip({container: '.upaas-content'});
        $('#help-worker_limit').tooltip({container: '.upaas-content'});
        $('#help-package_limit').tooltip({container: '.upaas-content'});
      });
