- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load gravatar
- load upaas_mb_to_bytes


- block breadcrumbs
  = block.super
  - breadcrumb user.full_name_or_login "users_profile"


- block content

  .tabbable

    %ul.nav.nav-tabs
      %li.active
        %a{'href':'#details', 'data-toggle':'tab'}
          - trans "Details"
      %li
        %a{'href':'#apikey', 'data-toggle':'tab'}
          - trans "API key"
      %li
        %a{'href':'#resources', 'data-toggle':'tab'}
          - trans "Resource limits"

    .tab-content

      #details.tab-pane.active
        .row
          .col-md-2.text-center
            %img.img-rounded{'src':'{% gravatar_url user.email 120 %}', 'height':'120', 'width':'120'}
              %a{'href':'https://gravatar.com', 'target':'_blank'}
                - trans "Change avatar"
          .col-md-10
            %dl.dl-horizontal
              %dt
                {% trans "First name" %}:
              %dd
                = user.first_name

              %dt
                {% trans "Last name" %}:
              %dd
                = user.last_name

              %dt
                {% trans "Login" %}:
              %dd
                = user.username

              %dt
                {% trans "Email" %}
              %dd
                = user.email

              %dt
                {% trans "Administrator" %}:
              %dd
                - if user.is_superuser
                  %i.fa.fa-thumbs-o-up
                - else
                  %i.fa.fa-thumbs-o-down

      #apikey.tab-pane
        .form-horizontal{'role':'form'}
          .form-group
            %label.col-md-2.control-label{'for':'apikey-input'}
              - trans "Api key"
              %i.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "API key is used for accessing uPaaS using cli client" %}'}
              :
            .col-md-8.input-group
              %input.form-control{'id':'apikey-input','type':'text', 'readonly':'readonly', 'value': '={ user.apikey }'}
              %span.input-group-btn
                %button.btn.btn-primary{'id':'copy-button', 'data-clipboard-text':'={ user.apikey }'}
                  %i.fa.fa-files-o

        .text-center
          %a.btn.btn-danger{'href':'{% url "users_apikey_reset" %}'}
            - trans "Reset API key"

      #resources.tab-pane
        .row

          .col-lg-3
            .panel.panel-default
              .panel-body
                %h1.text-center
                  = user.running_applications|length
                  \/
                  - if user.limits.running_apps
                    = user.limits.running_apps
                  - else
                    - trans "No limit"
              .panel-footer
                - trans "Running application limit"
                %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum number of running applications" %}'}

          .col-lg-3
            .panel.panel-default
              .panel-body
                %h1.text-center
                  ={ user.limits_usage.instances }
                  \/
                  - if user.limits.instances
                    ={ user.limits.instances }
                  - else
                    - trans "No limit"
              .panel-footer
                - trans "Instance limit"
                %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum number of running instances" %}'}

          .col-lg-3
            .panel.panel-default
              .panel-body
                %h1.text-center
                  ={ user.limits_usage.workers }
                  \/
                  - if user.limits.workers
                    = user.limits.workers
                  - else
                    - trans "No limit"
              .panel-footer
                - trans "Worker limit"
                %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum number of workers for all running applications" %}'}

          .col-lg-3
            .panel.panel-default
              .panel-body
                %h1.text-center
                  ={ user.limits_usage.memory }
                  \/
                  - if user.limits.memory
                    = user.limits.memory|mb_to_bytes|filesizeformat
                  - else
                    - trans "No limit"
              .panel-footer
                - trans "Memory limit"
                %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum memory limit for all running applications" %}'}

        .row
          .col-lg-3
            .panel.panel-default
              .panel-body
                %h1.text-center
                  = user.limits.packages_per_app
              .panel-footer
                - trans "Package limit"
                %i.pull-right.upaas-help-tooltip.fa.fa-question-circle{'title':'{% trans "Maximum number of package files stored in database for each application" %}'}


  - block js_bottom
    = block.super

    - include "partials/load_zeroclipboard.html"

    :javascript
      $(document).ready(function(){
        var clip = new ZeroClipboard($('button#copy-button'));
        var cliptip = $(clip.htmlBridge)
          .tooltip({'title': '{% trans "Copy to clipboard" %}'});
        clip.on('mouseover', function(client) {
          cliptip.attr('title', '{% trans "Copy to clipboard" %}')
            .tooltip('fixTitle')
            .tooltip('show');
        });
        clip.on('complete', function(client, args) {
          cliptip.attr('title', '{% trans "Copied" %}')
            .tooltip('fixTitle')
            .tooltip('show');
        });
      });
