- extends 'base.haml'


- load i18n
- load django_bootstrap_breadcrumbs
- load gravatar


- block breadcrumbs
  = block.super
  - breadcrumb user.get_full_name_or_login "users_profile"


- block content

  .tabbable

    %ul.nav.nav-tabs
      %li.active
        %a{'href':'#details', 'data-toggle':'tab'}
          - trans "Details"
      %li
        %a{'href':'#apikey', 'data-toggle':'tab'}
          - trans "API key"

    .tab-content

      #details.tab-pane.active
        .row
          .col-md-2.text-center
            %img.img-rounded{'src':'{% gravatar_url user.email 120 %}', 'height':'120', 'width':'120'}
              %a{'href':'https://gravatar.com', 'target':'_blank'}
                - trans "Change"
          .col-md-10
            %dl.dl-horizontal
              %dt
                {% trans "First name" %}:
              %dd
                = user.first_name

              %dt
                {% trans "Last name" %}:
              %dd
                = user.last_name

              %dt
                {% trans "Login" %}:
              %dd
                = user.username

              %dt
                {% trans "Email" %}
              %dd
                = user.email

              %dt
                {% trans "Administrator" %}:
              %dd
                - if user.is_superuser
                  %span.glyphicon.glyphicon-thumbs-up
                - else
                  %span.glyphicon.glyphicon-thumbs-down

      #apikey.tab-pane
        .form-horizontal{'role':'form'}
          .form-group
            %label.col-lg-2.control-label{'for':'apikey-input'}
              - trans "Api key"
            .col-lg-8
              %input.form-control{'id':'apikey-input','type':'text', 'readonly':'readonly', 'value': '={ user.apikey }'}
            %button.btn.btn-default{'id':'copy-button', 'data-clipboard-text':'={ user.apikey }'}
              %span.glyphicon.glyphicon-file

        .text-center
          %a.btn.btn-danger{'href':'{% url "users_apikey_reset" %}'}
            - trans "Reset API key"

  - block js_bottom
    = block.super

    - include "partials/load_zeroclipboard.haml"

    :javascript
      $(document).ready(function(){
        var clip = new ZeroClipboard($('button#copy-button'));
        var cliptip = $(clip.htmlBridge)
          .tooltip({'title': '{% trans "Copy to clipboard" %}'});
        clip.on('mouseover', function(client) {
          cliptip.attr('title', '{% trans "Copy to clipboard" %}')
            .tooltip('fixTitle')
            .tooltip('show');
        });
        clip.on('complete', function(client, args) {
          cliptip.attr('title', '{% trans "Copied" %}')
            .tooltip('fixTitle')
            .tooltip('show');
        });
      });
