- extends 'applications/base.html'


- load i18n


- block app_content

  %dl.dl-horizontal

    %dt
      {% trans "Name" %}:
    %dd
      = app.name

    %dt
      {% trans "Interpreter" %}:
    %dd
      ={ app.interpreter_name } ={ app.interpreter_version }

    %dt
      {% trans "System domain" %}:
    %dd
      - if app.run_plan
        %a{'href':'http://={ app.system_domain }', 'target':'_blank'}
          = app.system_domain
      - else
        .text-muted
          = app.system_domain

    %dt
      {% trans "Custom domains" %}:
    %dd
      - for domain in app.domains
        - if app.run_plan
          %a{'href':'={ domain }', 'target':'_blank'}
            = domain
        - else
          .text-muted
            = domain
      - empty
        .muted
          .text-muted
            - trans "None"
