- extends 'applications/base.html'


- load i18n


- block app_content

  %dl.dl-horizontal

    %dt
      {% trans "Name" %}:
    %dd
      = app.name

    %dt
      {% trans "Interpreter" %}:
    %dd
      ={ app.interpreter_name } ={ app.interpreter_version }

    %dt
      {% trans "System domain" %}:
    %dd
      - if app.run_plan
        %a{'href':'http://={ app.system_domain }', 'target':'_blank'}
          = app.system_domain
      - else
        .text-muted
          = app.system_domain

    %dt
      {% trans "Custom domains" %}:
    %dd
      - for domain in app.domains
        - if app.run_plan
          %a{'href':'={ domain }', 'target':'_blank'}
            = domain.name
        - else
          .text-muted
            = domain.name
        - if domain.validated
          %i.text-success.fa.fa-check-circle-o.upaas-help-tooltip{'title':'{% trans "Domain validated using TXT record" %}'}
        - if not forloop.last
          %br
      - empty
        .muted
          .text-muted
            - trans "None"

    %dt
      {% trans "Current package" %}:
    %dd
      - if app.current_package
        %a{'href':'{% url "package_details" app.current_package.safe_id %}'}
          = app.current_package.date_created
      - else
        .text-muted
          - trans "None"

  .row.text-center
    %a.btn.btn-default{'href':'{% url "app_assign_domain" app.safe_id %}'}
      %i.fa.fa-globe
      - trans "Assign custom domain"
