- extends 'applications/base.html'


- load i18n


- block app_content

  %dl.dl-horizontal

    %dt
      {% trans "Name" %}:
    %dd
      = app.name

    %dt
      {% trans "Interpreter" %}:
    %dd
      ={ app.interpreter_name } ={ app.interpreter_version }

    %dt
      {% trans "System domain" %}:
    %dd
      - if app.run_plan
        %a{'href':'http://={ app.system_domain }', 'target':'_blank'}
          = app.system_domain
      - else
        .text-muted
          = app.system_domain

    %dt
      {% trans "Current package" %}:
    %dd
      - if app.current_package
        %a{'href':'{% url "package_details" app.current_package.safe_id %}'}
          = app.current_package.date_created
      - else
        .text-muted
          - trans "None"

    %br/

    - with app.state_helper.needs_building as flag
      - if flag
        %dt
          {% trans "Pending task" %}:
        %dd
          = flag.title

    - with app.state_helper.needs_starting as flag
      - trans "Starting on" as title
      - include 'applications/partials/flag_status.html'

    - with app.state_helper.needs_restarting as flag
      - trans "Restarting on" as title
      - include 'applications/partials/flag_status.html'

    - with app.state_helper.needs_stopping as flag
      - trans "Stopping on" as title
      - include 'applications/partials/flag_status.html'

    - with app.state_helper.needs_upgrade as flag
      - trans "Upgrading on" as title
      - include 'applications/partials/flag_status.html'
