- extends 'applications/base.html'


- load i18n


- block app_content

  %dl.dl-horizontal

    %dt
      {% trans "Name" %}:
    %dd
      = app.name

    %dt
      {% trans "Interpreter" %}:
    %dd
      ={ app.interpreter_name } ={ app.interpreter_version }

    %dt
      {% trans "System domain" %}:
    %dd
      - if app.run_plan
        %a{'href':'http://={ app.system_domain }', 'target':'_blank'}
          = app.system_domain
      - else
        .text-muted
          = app.system_domain

    %dt
      {% trans "Current package" %}:
    %dd
      - if app.current_package
        %a{'href':'{% url "package_details" app.current_package.safe_id %}'}
          = app.current_package.date_created
      - else
        .text-muted
          - trans "None"

    %dt
      {% trans "Status" %}:
    %dd
      - for flag in app.flags
        %ul
          %li
            Name =>
            = flag.name
          %li
            Pending =>
            = flag.pending
          %li
            Options =>
            = flag.options
          %li
            Locked since =>
            = flag.locked_since
          %li
            Locked by backend =>
            = flag.locked_by_backend
          %li
            Locked by pid =>
            = flag.locked_by_pid
        %hr

