- extends 'site.html'


- load i18n


- block content

  - if tabs
    - include "users/partials/users_index_tabs.html"

  %table.table.table-striped

    %thead
      %tr
        %th
        %th
          - trans "Name"
        %th
          - trans "Interpreter name"
        %th
          - trans "Interpreter version"
        %th
          - trans "Packages"
        %th

    %tbody
      - for app in object_list
        %tr
          %td
            - if app.run_plan
              %i.fa.fa-play{'title':'{% trans "Running" %}', 'id':'upaas-app-status-icon-={ app.safe_id }'}
            - else
              %i.fa.fa-stop{'title':'{% trans "Stopped" %}', 'id':'upaas-app-status-icon-={ app.safe_id }'}
          %td
            %a{'href':'{% url "app_details" app.id %}'}
              = app.name
          %td
            = app.interpreter_name
          %td
            = app.interpreter_version
          %td
            = app.packages|length
          %td.upaas-table-action
            .btn-group
              %button.btn.btn-default.btn-sm.dropdown-toggle{'type':'button', 'data-toggle': 'dropdown'}
                %i.fa.fa-gear
                &nbsp;
                %span.caret
              %ul.dropdown-menu.pull-right{'role': 'menu'}
                %li.dropdown-header.upaas-no-wrap{'role':'presentation'}
                  = app.name
                %li.divider{'role':'presentation'}
                - include "applications/partials/app_actions.html"

      - empty
        %tr
          %td.text-center.text-muted{'colspan':'6'}
            - trans "No applications registered yet"

  - include "partials/pagination_footer.html"
