- extends 'applications/base.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load crispy_forms_tags


- block breadcrumbs
  = block.super
  - breadcrumb "Packages" "app_packages" pkg.application.safe_id
  - breadcrumb pkg.safe_id "package_details" pkg.safe_id


- block app_content

  .tabbable

    %ul.nav.nav-tabs
      %li.active
        %a{'href':'#details', 'data-toggle':'tab'}
          - trans "Details"
      %li
        %a{'href':'#metadata', 'data-toggle':'tab'}
          - trans "Metadata"
      - if metadiff
        %li
          %a{'href':'#metadiff', 'data-toggle':'tab'}
            - trans "Metadata diff"

    .tab-content

      #details.tab-pane.active
        %dl.dl-horizontal

          %dt
            {% trans "Created" %}:
          %dd
            = pkg.date_created

          %dt
            {% trans "Interpreter name" %}:
          %dd
            = pkg.interpreter_name

          %dt
            {% trans "Interpreter version" %}:
          %dd
            = pkg.interpreter_version

          %dt
            {% trans "Size" %}:
          %dd
            = pkg.bytes|filesizeformat

          %dt
            {% trans "Builder" %}:
          %dd
            = pkg.builder

          %dt
            {% trans "Distribution name" %}:
          %dd
            = pkg.distro_name

          %dt
            {% trans "Distribution version" %}:
          %dd
            = pkg.distro_version

          %dt
            {% trans "Architecture" %}:
          %dd
            = pkg.distro_arch

      #metadata.tab-pane
        %p
          - if metadiff
            {% trans "Package metadata differs from current application metadata" %}:
          - else
            {% trans "Package metadata is identical to current application metadata" %}:
        %pre.upaas-metadata-textarea<
          = pkg.metadata
        - if metadiff
          %p
          %a.btn.btn-primary{'href':'{% url "app_meta_from_pkg" pkg.safe_id %}'}
            %i.fa.fa-undo
            - trans "Set as app metadata"

        %p.text-center
          %a.btn.btn-default{'href':'{% url "pkg_metadata_yml" pkg.safe_id %}'}
            %i.fa.fa-download
            - trans "Download metadata"

      - if metadiff
        #metadiff.tab-pane
          %p
            {% trans "Differences between package and current application metadata" %}:
            %pre.upaas-metadata-textarea<
              {% for line in metadiff %}{{ line }}{% endfor %}
          %p
          %a.btn.btn-primary{'href':'{% url "app_meta_from_pkg" pkg.safe_id %}'}
            %i.fa.fa-undo
            - trans "Set as app metadata"
