- extends 'site.html'


- load i18n
- load django_bootstrap_breadcrumbs
- load gravatar


- block breadcrumbs
  = block.super
  - breadcrumb "Users" "admin_users_list"


- block content

  .nav.nav-tabs
    %li.active
      %a{'href':'{% url "admin_users_list" %}'}
        - trans "Users"
    %li
      %a{'href':'{% url "admin_routers_list" %}'}
        - trans "Routers"
    %li
      %a{'href':'{% url "admin_backends_list" %}'}
        - trans "Backends"

  %p
    %a.btn.btn-default{'href':'{% url "admin_user_create" %}'}
      %i.fa.fa-plus-circle
      - trans "Create new user"

  %table.table.table-striped

    %thead
      %tr
        %th
        %th
          - trans "Login"
        %th
          - trans "First name"
        %th
          - trans "Last name"
        %th
          - trans "Email"
        %th
          - trans "Active"
        %th
          - trans "Administrator"
        %th

    %tbody
      - for user_object in object_list
        %tr
          %td{'style':'background: url("{% gravatar_url user_object.email 32 %}") left no-repeat;'}
          %td
            = user_object.username
          %td
            = user_object.first_name
          %td
            = user_object.last_name
          %td
            = user_object.email
          %td
            - if user_object.is_active
              %i.fa.fa-thumbs-o-up
          %td
            - if user_object.is_superuser
              %i.fa.fa-thumbs-o-up
          %td.upaas-table-action
            .btn-group
              %button.btn.btn-default.btn-sm.dropdown-toggle{'type':'button', 'data-toggle': 'dropdown'}
                %i.fa.fa-gear
                &nbsp;
                %span.caret
              %ul.dropdown-menu.pull-right{'role': 'menu'}
                %li.dropdown-header.upaas-no-wrap{'role':'presentation'}
                  = user_object.full_name_or_login
                %li.divider{'role':'presentation'}
                %li
                  %a{'href':'{% url "admin_user_edit" user_object.safe_id %}'}
                    %i.fa.fa-fw.fa-pencil
                    - trans "Edit user account"
                %li
                  - if user_object.limits_settings
                    %a{'href':'{% url "admin_user_limits_edit" user_object.limits_settings.safe_id %}'}
                      %i.fa.fa-fw.fa-tachometer
                      - trans "Edit custom limits"
                    %a{'href':'{% url "admin_user_limits_delete" user_object.limits_settings.safe_id %}'}
                      %i.fa.fa-fw.fa-trash-o
                      - trans "Delete custom limits"
                  - else
                    %a{'href':'{% url "admin_user_limits_create" user_object.safe_id %}'}
                      %i.fa.fa-fw.fa-tachometer
                      - trans "Create custom limits"

  - include "partials/pagination_footer.html"
